.article__header {
    text-align: center;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

.article__paragraph {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.article__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 10%;
    border: 5px solid rgb(212, 212, 212);
}

@media (max-width: 767px) {
    .article__photo {
        max-width: 90%;
    }
}

.article__subHeader {
    text-align: center;
    font-style: italic;
    font-family: 'Merriweather', serif;
}